body{
    background-color:rgb(46, 43, 43);
}


header h1 {
    text-align: center;
    color:blue
    
   
}
footer{
    text-align: center;
    background-color: coral ;
}


.vegeta {
    
   display: block;
    width: 400px;
    height: 300px;
   margin:0 auto
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;      /* centra el container */
  padding: 40px;
  background-color:lightblue;
  .btn{
background-color: rgb(54, 154, 94);
text-align: center;

}
}
.btn{
background-color: rgb(54, 154, 94);
text-align: center;

}