body{
    background-color:lightblue;
}


h1{
    text-align: center;
    color:red
}
footer{
    text-align: center;
    background-color: coral ;
}


.vegeta {
    
   display: block;
    width: 400px;
    height: 300px;
   margin:0 auto
}
